$task-item-color: rgb(100 100 100 / 80%);

@font-face {
  font-family: "My Font";
  src: url("@src/assets/fonts/myFont.ttf") format("truetype");
  font-style: italic;
}

:global(html, body) {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:global(#main) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  height: 100%;
  background-size: cover;
  background-image: url("@src/assets/images/cat.jpg");
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  cursor: pointer;
}

.task-item {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 0.2rem;
  font-family: "My Font", sans-serif;
  white-space: nowrap;
  color: $task-item-color;
  line-height: 1.2;
}
